<div class="w-full h-screen md:container md:mx-auto flex justify-center bg-[#3d3f4a]">
    <div class="box-content h-4/5 w-4/5 mt-auto mb-auto rounded-lg shadow-xl bg-[#282a36]">
        <div class="w-full h-5 gap-2 px-3 flex pt-3">
            <button class="w-3 h-3 rounded-full bg-[#ED6A5E]"></button>
            <button class="w-3 h-3 rounded-full bg-[#F4BF4F]"></button>
            <button class="w-3 h-3 rounded-full bg-[#61C554]"></button>
        </div>
        <div class="px-3 mt-5">
            <p class="font-sans text-[#5a4b81] text-sm">
                // Formatador de Json
            </p>
        </div>
        <div class="w-full mt-3 px-3 h-3/4">
            <ace [config]="config" [mode]="'json'" [(value)]="content" (valueChange)="onValueChange($event)"
                (selectionChange)="onSelectionChange($event)"></ace>
            <div class="py-3 flex justify-end">
                <button
                    class="bg-indigo-500 text-white font-semibold text-sm rounded-md px-5 py-2.5 mr-2 mb-2 focus:outline-none hover:bg-indigo-400 focus:ring-1 focus:ring-purple-300"
                    (click)="copy()">
                    Copiar
                </button>
                <button
                    class="bg-[#ED6A5E] text-white font-semibold text-sm rounded-md px-5 py-2.5 mr-2 mb-2 focus:outline-none hover:bg-[#f0877e] focus:ring-1 focus:ring-purple-300"
                    (click)="clear()">
                    Apagar
                </button>
            </div>
        </div>
    </div>
</div>